<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset=”utf-8″>
    <meta name=”viewport” content=”width=device-width, initial-scale=1, shrink-to-fit=no”>
    <title>SCARF | Resultado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script type="text/javascript">
        window.history.forward(1);

        function EnviarPesquisa(){
            document.forms[0].submit();
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>

    <style type="text/css">
        divGrafico{width: 450; height: 300;
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }
        .container-canvas {
            margin-right: auto;
            margin-left: auto;
            align-content: center;
            width: 600px;
        }
    </style>
</head>

<body style="font-size: 1rem;">

    <div id="rodape"  class="container-fluid">
        <h2><strong>Resultado</strong><h2>
    </div>
    
    <form action="/" method="POST">
        <input type="hidden" id="questionario" name="questionario" value="<%= JSON.stringify(registro.questionario) %>">

        <% console.log('>>>>'+ JSON.stringify(registro.resultado)) %>
        <input type="hidden" id="status" name="status" value="<%= (registro.resultado[0]).status %>">
        <input type="hidden" id="certeza" name="certeza" value="<%= (registro.resultado[1]).certeza %>">
        <input type="hidden" id="autonomia" name="autonomia" value="<%= (registro.resultado[2]).autonomia %>">
        <input type="hidden" id="relacionamento" name="relacionamento" value="<%= (registro.resultado[3]).relacionamento %>">
        <input type="hidden" id="justica" name="justica" value="<%= (registro.resultado[4]).justica %>">

        <div id="divGrafico" style="width: 450; height: 300;">
            
            <p class="container-fluid" style="text-align:center">
                <strong><label class="text-uppercase"><%= registro.usuario %></label></strong>
                <br><%= Date().toLocaleString('pt-BR')%>
            </p>
            <div id="geral" class="container-fluid">
            
                <div class="container-canvas">
                    <canvas id="grafico"  width="450" height="300" ></canvas>
                </div>
                <div class="container-canvas row">
                    <table class="table-bordered">
                        <tbody>
                            <td width="25" style="border-color: white;border-right-color:lightgray;">&nbsp;</td>
                            <td width="105"><div class="text-center" id="dStatus" name="dStatus"><%= parseFloat((registro.resultado[0]).status).toFixed(2) + '%' %></div></td>
                            <td width="105"><div class="text-center" id="dCerteza" name="dCerteza"><%= parseFloat((registro.resultado[1]).certeza).toFixed(2) + '%' %></div></td>
                            <td width="105"><div class="text-center" id="dAutonomia" name="dAutonomia"><%= parseFloat((registro.resultado[2]).autonomia).toFixed(2) + '%' %></div></td>
                            <td width="105"><div class="text-center" id="dRelacionamento" name="dRelacionamento"><%= parseFloat((registro.resultado[3]).relacionamento).toFixed(2) + '%' %></div></td>
                            <td width="105"><div class="text-center" id="dJustica" name="dJustica"><%= parseFloat((registro.resultado[4]).justica).toFixed(2) + '%' %></div></td>
                            <td width="50" style="border-color: white;">&nbsp;</td>
                        </tbody>
                    </table>
                    
                </div>
                
                <script>
                    var ctx = $("#grafico");
                    
                    var myChart = new Chart(ctx, {
                        type: "bar",
                        data: {
                            labels: ["Status", "Certeza", "Autonomia", "Relacionamento", "Foco na Justiça"],
                            datasets: [{
                                label: "Canal Neurônico",
                                fillColor: "637b85",
                                strokeColor: "637b85",
                                backgroundColor: [  "rgb(255, 217, 102)",
                                                    "rgb(214, 220, 228)",
                                                    "rgb(198, 224, 180)",
                                                    "rgb(48, 84, 150)",
                                                    "rgb(0, 176, 240)"],
                                data: [ 
                                    parseFloat(document.getElementById('status').value),
                                    parseFloat(document.getElementById('certeza').value),
                                    parseFloat(document.getElementById('autonomia').value),
                                    parseFloat(document.getElementById('relacionamento').value),
                                    parseFloat(document.getElementById('justica').value)
                                ],
                            }]
                        },
                        options:{
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        suggestedMin: 0,
                                        suggestedMax: 25
                                    }
                                }]
                            },
                            legend:{display:false}
                        }
                    });
                </script>
            </div>
            <br>
            <div id="rodape" style="text-align:center">
                <a href="#" class="btn btn-primary btn-lg active"  style="width:48%" role="button" aria-pressed="true" onClick="javascript:EnviarPesquisa();">Concluir</a>
            </div>

        </div>
    </form>
</body>
</html>